<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Standup App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable %>
    <%# apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/views/stylesheets %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">

    <%= render partial: 'layouts/components/header' %>
    <div class="flex flex-col md:flex-row">
      <%= render partial: 'layouts/components/sidebar' %>
      <div
        class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">
          <class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pt-5 px-5 pb-24 md:pb-5">
          <%= yield %>
          <%= render partial: 'layouts/components/footer' %>
      </div>
    </div>
  </body>
</html>
